.borderConnexion{
    background: #44B2A7;
    color: #FFFFFF !important;
    border-radius: 10px !important; 
    border: solid 1px #44B2A7 !important;
    
}
.borderConnexion:hover
{
    background:transparent;
    color: #44B2A7 !important;

}

