.bg1{
    background-color: #FCDABA;
    border-radius: 10%;
}
.bg2{
    background-color: #EA0086;
    border-radius: 10%;
}
.bg3{
    background-color: #9AFFCD;
    border-radius: 10%;
}
.bg4{
    background-color: #FEB4B7;
    border-radius: 10%;
}
.bg5{
    background-color: #ABDCFF;
    border-radius: 10%;
}
.bg6{
    background-color: #F7A1F7;
    border-radius: 10%;
}