
.openSans{
    font-family: 'Open Sans', sans-serif;
    /* color: white; */
    font-weight: bold;
}
.montserat{
    font-family: 'Montserrat', sans-serif;
}


@media (max-width : 600px) {
    .respensive {
     display: flex;
     flex-direction: column;
     height: auto;
    
    }
    .respensiveCard1{
        display: flex;
        justify-content: center;
        width: 100%;
        
    }
    .respensiveCard2{
        display: flex;
    justify-content:flex-end;
        width: 100%; 
    }
    .respensivepading{
        padding-left: 15px;
        padding-right: 10px;
    }
    .overflow{
        overflow: scroll;
    }
}