.cardWidth{
    height: 300px;
}
.bgGreen{
    background: linear-gradient(90deg, #44B298 0%, #44B3A7 0.01%, #44B3A7 0.02%, #44B3A7 0.03%, #0C0F0C 100%);
    height: 40px;
    margin: 0;
    font-size: 12px;
}
.height{
    height: auto;
}

.colorgreen{
    color: #44B2A7 !important;

}
