.login {
 
    height: 600px;
  }
  
  .input {
    margin-top: 200px;
  }
  

  
  .passwrapper {

    display: flex;
    margin-bottom: 14px;
  }
  
  .i {
    position: absolute;
    top: 38%;
    right: 16%;
  }
  .i:hover {
    color: #00fcb6;
    cursor: pointer;
  }
  
  .button {
    width: 300px;
    height: 50px;
    margin: 0 auto;
  }

  
  .bordergreen{
    border: solid 1px #44B2A7 !important;
    background-color: transparent !important;
  
}
.bordernone{
  border:none !important;

}

.bordernone:focus{
  outline: none !important;
}
.bordergreen:focus {
    outline:  none !important;
}
.boxshadow{
    
    border: 1px solid #FFFFFF;
box-shadow: 0px  0px 4px -1px rgba(0, 0, 0, 0.25);
}
.colorgrid{
    color: #6d6e6b;
}
@media (max-width : 600px) {
    .respensiveReverse {
     display: flex;
     flex-direction:column-reverse;
     height: auto;
    }
    .respensive {
        display: flex;
        flex-direction:column;
        height: auto;
       }
       .bordergreen{
         width: 80%  !important;
       }
    .respensiveCard1{
        display: flex;
        justify-content: center;
        width: 100%;   
    }
    .respensiveCard2{
        display: flex;
    justify-content:flex-end;
        width: 100%; 
    }
    .respensivemargin{
        margin-top: 50px;
        
    }
    .respensivepadding{
    padding-left: 15px ;
    padding-right: 10px;
    }
}
  